{% extends 'base.html' %}

{% block head %}
    <title>E.R.T.I.E.</title>
{% endblock %}

{% block body %}
    <form action="/render" id="pathfindingForm">
        <input type="hidden" id="location" name="location" value="{{locIndex}}">
        <input type="hidden" id="pathFound" name="pathFound" value="1">
        <input type="hidden" id="goalX" name="goalX" value="0">
        <input type="hidden" id="goalY" name="goalY" value="0">
        <input type="hidden" id="startX" name="startX" value="0">
        <input type="hidden" id="startY" name="startY" value="0">
        <button type="submit">Calculate path</button>
    </form>

    <button type="button" class="collapsible">Guide</button>
    <div id="info">
        Toggle "Enable pathfinding" in the controls interface to set pathfinding markers. <br>
        Use leftclick to set the goal position and rightclick to set the start position.
    </div>

    <canvas id="bg"></canvas>
    <script type="module" src="/static/renderer.js"></script>
{% endblock %}