{% extends 'base.html' %}

{% block head %}
    <title>E.R.T.I.E.</title>
{% endblock %}

{% block body %}
    <h1>E.R.T.I.E.</h1>
    <form action="/select-floor-plan">
        <label for="location">Select the location:</label>
        <select id="location" name="location" defaultValue="{{ locIndex }}">
            <option selected disabled hidden>Select</option>
            <option id="1" value="1">House 1</option>
            <option id="2" value="2">House 2</option>
            <option id="3" value="3">House 3</option>
            <option id="4" value="4">Shopping Mall</option>
            <option id="upload" value="upload">Upload custom floor plan</option>
        </select>
        <button type="submit">View</button>
    </form>
    <br>
    <h2>Currently viewing {{ location }}</h2>
    <img src="/static/floor-plans/{{ locIndex }}.jpg">
    <form action="/render">
        <input type="hidden" name="location" value="{{locIndex}}">
        <input type="hidden" name="pathFound" value="0">
        <button type="submit">Generate 3D Model</button>
    </form>

    <script>
        document.getElementById("{{locIndex}}").selected = "selected"
    </script>
{% endblock %}