{% extends 'base.html' %}

{% block head %}
    <title>E.R.T.I.E.</title>
{% endblock %}

{% block body %}
    <h1>E.R.T.I.E.</h1>
    <form action="/select-floor-plan">
        <label for="location">Select the location:</label>
        <select id="location" name="location">
            <option value="1">House 1</option>
            <option value="2">House 2</option>
            <option value="3">House 3</option>
            <option value="4">Shopping Mall</option>
            <option value="upload">Upload custom floor plan</option>
        </select>
        <button type="submit">View</button>
    </form>
    <br>

    <!-- File Handling -->
    <h2>Upload Custom Floor Plan</h2>
    <form method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.file()}}
        {{form.submit()}}
    </form>

    <!-- <h2>Currently viewing {{ location }}</h2>
    <img src="/static/floor-plans/{{ locIndex }}.jpg"> -->
{% endblock %}