/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-color: #333;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

input, button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
} */

/* Hrithik's CSS Stuff below */
body {
    background-image: url('../images/fireFighter.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.card-body {
    color: white
}

#subHeader {
    font-size: 4rem;
}

#subHeader {
    margin: 10rem 0 0 5rem;
}

.customMargin {
    margin: 8rem 0 0 5rem;
}


.contactCard {
    background-color: #0000007f;
}

.btn.btn-danger {
    background-color: #ff0000 !important;
}

.btn.btn-danger:hover {
    opacity: 0.8;
}

/* Tom's CSS stuff below */
canvas{
    position: fixed;
    top: 0;
    left: 0;
}

.collapsible {
    background-color: #434343;
    color: whitesmoke;
    cursor: pointer;
    
    padding: 10px;
    width: 80px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;

    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    z-index: 99
}

.active, .collapsible:hover {
    background-color: gray;
}

#info {
    position: absolute;
    top: 10px;
    left: 100px;
    width: 33%;
    text-align: left;
    z-index: 99;
    display: block;
    color: whitesmoke;
    display: none;
    overflow: hidden;
}