/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-color: #333;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

input, button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
} */

/* Hrithik's CSS Stuff below */
body {
    background-image: url('../images/fireFighter.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.card-body {
    color: white
}

.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.m-0 {
    font-family: "Fugaz One", sans-serif;

    position: relative;
    left: 5rem;
}

.contactCard {
    position: relative;
    bottom: 50px;
}

/* .navbar-dark,
.navbar[data-bs-theme=dark] {
    position: fixed
} */

#navbarNav {
    margin: auto;
    width: 50%;
    position: relative;
    right: 75px;

}

#subHeader {
    font-size: 2rem;
    /* font-family: "Fugaz One", sans-serif; */
}

#subHeader {
    margin: 5rem 0 0 5rem;
}

.customMargin {
    margin: 8rem 0 0 5rem;
}


.contactCard {
    background-color: #0000007f;
    position: relative;
    bottom: 150px;
}

.btn.btn-danger {
    background-color: #ff0000 !important;
}

.btn.btn-danger:hover {
    opacity: 0.8;
}

/* Tom's CSS stuff below */
canvas{
    position: fixed;
    top: 0;
    left: 0;
}

.collapsible {
    background-color: #434343;
    color: whitesmoke;
    cursor: pointer;
    
    padding: 10px;
    width: 80px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;

    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    z-index: 99
}

.active, .collapsible:hover {
    background-color: gray;
}

#info {
    position: absolute;
    top: 10px;
    left: 100px;
    width: 33%;
    text-align: left;
    z-index: 99;
    display: block;
    color: whitesmoke;
    display: none;
    overflow: hidden;
}