/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-color: #333;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

input, button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
} */

canvas{
    position: fixed;
    top: 0;
    left: 0;
}

.collapsible {
    background-color: #434343;
    color: whitesmoke;
    cursor: pointer;
    
    padding: 18px;
    width: 80px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;

    position: absolute;
    top:10px;
    display: block;
    z-index: 99
}

.active, .collapsible:hover {
    background-color: gray;
}

#info {
    position: absolute;
    top: 20px;
    left: 100px;
    width: 33%;
    text-align: left;
    z-index: 99;
    display: block;
    color: whitesmoke;
    display: none;
    overflow: hidden;
}